<a href="https://colab.research.google.com/github/JasperChen1012/diabetes-dataset/blob/main/all_data_best_feature_stacking_ipynb_%E7%9A%84%E5%89%AF%E6%9C%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os

In [ ]:
dataset = pd.read_csv('/content/A1 all.xlsx - Sheet1.csv')
dataset.head()

,Unnamed: 0,HbA1c,Hba1c_change,Obesity,dyspepsia,insulin_aspart,insulin_glarjin,Glycemic_control
0,0,10.3,0.234952,0,0,0.0,0.0,1
1,1,8.3,0.184793,0,0,9.0,13.5,1
2,2,8.0,0.174650,0,0,22.5,0.0,0
3,3,7.4,-0.073273,0,0,0.0,1.2,1
4,4,5.9,-0.031106,1,0,0.0,0.0,0

In [ ]:
X = dataset.iloc[:, :-1]
y = dataset.iloc[:, -1]

In [ ]:
X.head()

,Unnamed: 0,HbA1c,Hba1c_change,Obesity,dyspepsia,insulin_aspart,insulin_glarjin
0,0,10.3,0.234952,0,0,0.0,0.0
1,1,8.3,0.184793,0,0,9.0,13.5
2,2,8.0,0.174650,0,0,22.5,0.0
3,3,7.4,-0.073273,0,0,0.0,1.2
4,4,5.9,-0.031106,1,0,0.0,0.0

In [ ]:
y.head()

0    1
1    1
2    0
3    1
4    0
Name: Glycemic_control, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [ ]:
from sklearn.ensemble import StackingClassifier

In [ ]:
estimators5 = []
estimators5.append(('gradient', GradientBoostingClassifier()))
estimators5.append(('knn', KNeighborsClassifier()))

In [ ]:
stack_model = StackingClassifier(estimators5, final_estimator=LogisticRegression())
stack_result = cross_val_score(stack_model, X_train, y_train, cv=5)
print(stack_result.mean())

0.8300372084288703